*.d

*.slo
*.lo
*.o
*.obj

*.gch
*.pch

*.mod
*.smod

*.out
*.app

*.swp

bin/
build/
temp_backup/

todo.md
imgui.ini
nohup.out

./shared_resources/variants/
./shared_resources/config/
./shared_resources/config/config.json

compile_commands.json

.clang-format
.cache/
.xmake/

config.json

todo.md

engine/build
engine/bin
engine/.build_status

editor/build
editor/bin
shared_resources/config
engine/preparser
editor/windows.json
engine/engine_gdb.log
common/CMakeFiles/ZeytinCommon.dir
common/cmake_install.cmake
engine/build-standalone
engine/LLM.txt
