*.d

*.slo
*.lo
*.o
*.obj

*.gch
*.pch

*.mod
*.smod

*.out
*.app

*.swp

.clangd

bin/
build/
temp_backup/

todo.md
imgui.ini
nohup.out

./shared_resources/variants/
./shared_resources/config/
./shared_resources/config/config.json

compile_commands.json

.clang-format
.cache/

config.json

todo.md

engine/build
engine/bin
engine/.build_status

editor/build
editor/bin
shared_resources/config
